<!DOCTYPE html>
<html>

<head>
    <title>CIGit Test Status</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1>Test Status</h1>

    <table>
        <tr>
            <th>Rev</th><th>Test status</th>
        </tr>
        <% commits.each do |rev| %>
            <tr>
                <td><%= rev.first %></td>
                <% status = rev[1..-1].join(" ") %>
                <td class="<%= status %>"><%= status %></td>
            </tr>
        <% end %>
    </table>

</body>
